
<html>
    <head>
        <title>Be Yourself</title>
    </head>
    <body>
        <p>Hi meninxss!! Tudo bem com vocês? Espero que sim! Bem, hoje eu estarei retratando um assunto que muitos de vocês podem achar chato, mas, na verdade, é bastante importante retratá-lo   !</p>
        
    </body>
</html>

<html>
    <head>
        <title>Blog Cuidando da Terra, cuidando de mim</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Blog Be Yourself</a></h1>
        </div>

        <div>
            <p>publicado: 14.06.2014, 12:14</p>
            <h2><a href="">Isso é realmente importante? Ou é conversa furada?</a></h2>
            <p>O meio ambiente é uma das vítimas do ser humano, bem como toda sua riqueza e importânica. Por isso, vamos começar a prestar mais atenção ao que falam por aí sobre um dos motivos de ainda estarmos vivos e absorvendo do gás oxigênio.</p>
        </div>

        <div>
            <p>publicado: 14.06.2014, 12:14</p>
            <h2><a href="">Meu segundo post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>